<!--
  Author:    Daniel Pak & Kyungyoon Kim
  Date:      August 28th, 2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540, Kyungyoon Kim and Daniel Pak - This work may not be copied for use in Academic Coursework.

  We, Kyungyoon Kim and Daniel Pak, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     Opportunity Detail Page
-->

@{
    ViewData["Title"] = "Opportunities - Health Education, Health Communication, and Health Policy Research";
}
@section Styles {
    <link href="~/css/detail.css" rel="stylesheet" type="text/css" />
}

<div class="title-container">
    <div class="btn_goback"><button class="btn-primary" onclick="window.history.back();">Go Back</button></div>

    <div class="title"><h1>Research Opportunities</h1> </div>
</div>

<hr />

<div class="summary-container">
    <div class="title">
        <h2>Health Education, Health Communication, and Health Policy Research</h2>
    </div>

    <div class="info">
        <div class="image"><img src='~/img/replace-uofu.png' alt='Image will be here' /></div>
        <div class="descriptions">
            This is a study of the evapotranspiration of ground cover plant species that are proposed as alternatives to turfgrass lawns.
            The project involves analyzing data previously collected at Red Butte Gardens. Some additional field work at Red Butte will probably be needed.
            The results will be used to determine which species require less water for irrigation than turfgrass,
            and will inform water conservation policies and practices.
        </div>

        <div class="contact">
            <div class="name">
                Jessica King
            </div>

            <div class="department">  Health, Kinesiology, and Recreation </div>
            <div class="email">
                (<a href="mailto:jess.king@utah.edu">jess.king@utah.edu</a>)
            </div>

            <div class="btn_apply"><button class="btn-primary" onclick="alert('WIP');">APPLY</button> </div>
        </div>
    </div>
</div>
<hr />

<div class="detail-container">
    <div class="item">
        <div class="title">
            <a id="Description" href="#Description">Project Description</a>
        </div>
        <div class="descriptions">
            Health education and health policy research projects in tobacco regulatory science, more specifically e-cigarettes/vaping.
        </div>
    </div>

    <div class="item">

        <div class="title">
            <a id="Type" href="#Type">Opportunity Type</a>
        </div>
        <div class="descriptions">
            Volunteer; Prepare a UROP proposal; Write an Honors Thesis; Earn independent study credit.
        </div>
    </div>

    <div class="item">

        <div class="title">
            <a id="Role" href="#Role">Student Role</a>
        </div>
        <div class="descriptions">
            collecting and analyzing data, reviewing literature, writing manuscripts, etc.
        </div>
    </div>

    <div class="item">

        <div class="title">
            <a id="Benefits" href="#Benefits">Student Benefits</a>
        </div>
        <div class="descriptions">
            Students can assist with collecting and analyzing data, reviewing literature, writing manuscripts, etc.
        </div>
    </div>

    <div class="item">

        <div class="title">
            <a id="Duration" href="#Duration">Project Duration</a>
        </div>
        <div class="descriptions">
            Duration and hours are flexible; typically about 10 hours per week for at least 1 semester.
        </div>
    </div>

    <div class="item">
        <div class="title">

            <a id="Requirements" href="#Requirements">Minimum Requirements</a>
        </div>
        <div class="descriptions">
            Interest in public health and research. Experience with MTurk a plus.
        </div>
    </div>
</div>