<!--
  Author:    Daniel Pak & Kyungyoon Kim
  Date:      August 28th, 2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540, Kyungyoon Kim and Daniel Pak - This work may not be copied for use in Academic Coursework.

  We, Kyungyoon Kim and Daniel Pak, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     Opportunity Detail Page
-->

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to CS4540 Class</h1>
        <p class="lead">Get your Opportunities right now</p>
    </div>

    <hr class="my-5">

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="lead">
                    <p class="font-weight-bold">
                        The most Popular  Opportunity
                    </p>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="img-thumbnail" src='~/img/replace-uofu.png' alt='Image will be here'>
                    <div class="card-body">
                        <h5 class="card-title">Urban Ecology: Water use of alternative groundcover species in the Red Butte Garden</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary" id="btn_PopularOpp">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="lead">
                    <p class="font-weight-bold">
                        The most Recent Opportunity
                    </p>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="img-thumbnail" src='~/img/replace-uofu.png' alt='Image will be here'>
                    <div class="card-body">
                        <h5 class="card-title">Urban Ecology: Water use of alternative groundcover species in the Red Butte Garden</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary" id="btn_recentOpp">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="lead">
                    <p class="font-weight-bold">
                        Closing Soon
                    </p>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="img-thumbnail" src='~/img/replace-uofu.png' alt='Image will be here'>
                    <div class="card-body">
                        <h5 class="card-title">Health Education, Health Communication, and Health Policy Research</h5>
                        <p class="card-text">Health education and health policy research projects in tobacco regulatory science, more specifically e-cigarettes/vaping..</p>
                        <a href="#" class="btn btn-primary" id="btn_endingOpp">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <br />
    </div>
</div>